{
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "printWidth": 100,
  "semi": false,
  "arrowParens": "always",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react$",
    "^react-dom(.*)$",
    "^react-router(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@/(.*)$",
    "^@app/(.*)$",
    "^@components/(.*)$",
    "^@pages/(.*)$",
    "^@services/(.*)$",
    "^@utils/(.*)$",
    "^@hooks/(.*)$",
    "^@store/(.*)$",
    "^@constants/(.*)$",
    "^@assets/(.*)$",
    "^@api/(.*)$",
    "^[./](?!.*\\.(css|scss|less|sass)$)",
    "^[.]/(.*)\\.(css|scss|less|sass)$",
    "^[.]/(.*)\\.(module)\\.(css|scss|less|sass)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true
}